body{
  margin-left: 7rem;
  margin-right: 7rem;
  background-color: black;
  color: #ffffff81;
  font-family: 'Times New Roman', Times, serif;
}

/* @media (max-width: 500px) {
  #navbarNav {
      display: none;
    }
    body{
      margin-left: .5rem;
      margin-right: .5rem;
    }
}

@media (min-width: 500px) {
  #navbarNav {
      display: block !important;
  }
  label[for="nav_bar_icon"] {
      display: none;
  }
} */